html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

.nowrap {
  white-space: nowrap;
}



.menu {
  padding: 0;
  list-style: none;
  white-space: nowrap;
  margin: 0;
}

.menu > li {
  padding: 8px 16px;
  border-bottom: 1px solid #eee;
  cursor: context-menu;
}

.menu > li:hover {
  background-color: rgba(1, 1, 1, 0.1);
}

/* book.html */

.bg-v1 {
  background-color: #f7f7f7;
}

.header {
  background-color: #fff;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  box-shadow: 0 6px 6px rgb(31 107 255 / 5%);
  position: fixed;
  left: 0;
  top: 0;
}

.logo {
  width: 32px;
  height: 32px;
  position: relative;
}

@media (max-width: 640px) {
  .word-list {
    margin-top: 10rem;
  }

  .translate-setting,
  .toggle-view {
    display: none !important;
  }
}

.word-list {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

.word-list > .word {
  border-bottom: 1px solid #eee;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.grid-column-2 {
  grid-template-columns: repeat(2, 1fr) !important;
}
